{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}Stitcher Form{% endblock %}

{% block customheadtagcontent %}

{% render_bundle 'stitcher_form' 'js' attrs='defer' %}
{{ json_context|safe }}

{% endblock customheadtagcontent %}

{% block content %}
<div class="container">
    <div class="row mb-2">
        <div class="col-1">
                <label for="formConfidence" class="form-label">Confidence</label>
                <div class="confidence-input"></div>
            </div>
        <div class="col mt-4">
            <div class="stitch-button"></div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <h3>{{ data.upload_dir_name }}</h3>
            {% if thumbnail_src %}
                <a href="{{ img_src }}" target="_blank">
                    <img src="{{ thumbnail_src }}" width="500">
                </a>
            {% else %}
                <a href="{{ img_src }}" target="_blank">
                    <img src="{{ img_src }}" width="500">
                </a>
            {% endif %}
        </div>
        <div class="col mb-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <b>guid:</b> {{ data.guid }}
                </li>
                <li class="list-group-item">
                    <b>Created at:</b> {{ data.created_at }}
                </li>
                {% if data.sent_label_studio %}
                    <li class="list-group-item list-group-item-info">
                        Sent to Label Studio{% if data.label_studio_project %}: {{ data.label_studio_project }}
                        {% endif %}
                    </li>
                {% endif %}
                <li class="list-group-item">
                    <b>Predictions:</b> {% if data.predictions_timestamp_coco %}
                        {{ data.predictions_coco|length }}
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <b>Annotations:</b> {% if data.annotations_updated_at_segment %}
                        {{ data.annotations_segment|length }}
                        <br/> Updated at: {{ data.annotations_updated_at_segment }}
                    {% endif %}
                </li>
                {% if not data.bugbox_sample_id %}
                    {% if nota_sample %}
                        <li class="list-group-item list-group-item-danger">
                            Marked as having no sample to link to
                        </li>
                    {% elif potential_samples %}
                        <li class="list-group-item list-group-item-success">
                            Potential Sample IDs in BugBox {% for p, l in potential_samples %}
                                <a href="{{ l }}" target="_blank">{{ p }}</a>&nbsp;
                            {% endfor %}
                        <div class="use-sample-id"></div>
                        </li>
                    {% else %}
                        <li class="list-group-item list-group-item-warning">
                            No matching samples found in BugBox
                        </li>
                    {% endif %}

                {% endif %}

                {% if data.bugbox_croped_saved %}
                        <li class="list-group-item list-group-item-success">
                            Sent to Sample ID <a href="{% url 'samples:sample' data.bugbox_sample_id %}" target="_blank">
                                {{ data.bugbox_sample_id }}</a>
                        </li>
                {% elif data.bugbox_sample_id %}
                        <li class="list-group-item list-group-item-success">
                            Sample ID <a href="{% url 'samples:sample' data.bugbox_sample_id %}" target="_blank">
                                {{ data.bugbox_sample_id }}</a>
                        </li>
                {% endif %}
                {% if not data.bugbox_croped_saved %}
                    <li class="list-group-item">
                        <div class="input-group input-group-sm">
                        <form method="post">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <p class="text-secondary">
                            <i>To save to BugBox, and then crop out arthropods,
                                the Sample ID must first be linked, there must be annotations and the image must be marked as Approved.
                                Changes above will be ignored, unless first submitted.
                            </i>
                        </p>
                    <form enctype="multipart/form-data" action="{{ form_action_url }}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form_ident" value="{{ form_iden_crop_save }}" >

                        <input type="submit"
                            value="Save to sample"
                            id="sample_id-btn" class="btn btn-danger"
                            {% if disable_crop_save %} disabled {% endif %}>

                    </form>
                </li>
                <!--
                 else
                <input
                            value="Save to sample"
                            id="sample_id-btn"
                            type="hidden"
                             disabled>
                -->
                {% endif %}

            </ul>

            <div class="delete-button mt-3"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h6>Label image (if available)</h6>
            <img src="{{ label_src }}" width="300">
        </div>
    </div>

    {% if panorama_name %}
    <div class="row mb-4 mt-4">
        <div class="col">
        <ul class="list-group">
                <li class="list-group-item">
                    <b>Filename:</b> {{ panorama_name }}
                </li>
                <li class="list-group-item">
                    <b>Updated at:</b> {{ data.panorama_timestamp}}
                </li>
                <li class="list-group-item">
                    <b>Stitcher confidence:</b> {{ data.panorama_confidence }}
                </li>
            </ul>
        </div>
    </div>
    {% endif %}

    {% if data.stitching_exception_at %}
    <div class="row mt-3">
        <div class="col">
            <div class="alert alert-warning" role="alert">
            <h5>Warning: @ {{ data.stitching_exception_at }} a stitching error occured</h5>
            <p>
                {{ data.stitching_exception }}
            </p>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% endblock content %}
